
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Iconos - Material Design</h4>
                        <p class="category">Hecho a mano por los amigos de <a target="_blank" href="https://design.google.com/icons/">Google</a></p>
                    </div>
                    <div class="card-content">
                        <div class="iframe-container hidden-sm hidden-xs">
                            <iframe src="https://design.google.com/icons/">
                                <p>Su navegador no soporta iframes.</p>
                            </iframe>
                        </div>
                        <div class="col-md-6 hidden-lg hidden-md text-center">
                            <h5>Los íconos son visibles en el modo Escritorio dentro de un iframe. Como el iframe no funciona en dispositivos móviles y tabletas, visite los iconos en su página original en Google. Comprobar los  <a href="https://design.google.com/icons/" target="_blank">Material Icons</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
