<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Principal
                    </a>
                </li>
                <li>
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portafolio
                    </a>
                </li>
                <li>
                    <a href="#">
                       Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.customyd.com">CustomYD</a>, hecho con amor por una mejor web
        </p>
    </div>
</footer>
