<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Notificaciones</h4>
                <p class="category">Hecho por <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">Full documentation.</a></p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Estilos de Notificaciones</h5>
                        <div class="alert alert-info">
                            <span>Notificacion Simple</span>
                        </div>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span>Notificacion con boton de "Cerrar".</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <i data-notify="icon" class="material-icons">add_alert</i>
                            <span data-notify="message">Notificacion con boton de "Cerrar" e ícono.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <i data-notify="icon" class="material-icons">add_alert</i>
                            <span data-notify="message">Notificacion con boton de "Cerrar", ícono y multilinea. Puede ver que el icono y el botón de cerrar siempre están alineados verticalmente. Esta es una hermosa notificación. Entonces no tienes que preocuparte por el estilo.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Notificación de estados</h5>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Info - </b> Esta es una notificación regular</span>
                        </div>
                        <div class="alert alert-success">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Satisfactorio - </b> Esta es una notificación regular</span>
                        </div>
                        <div class="alert alert-warning">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Atencion! - </b> Esta es una notificación regular</span>
                        </div>
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Error! - </b> Esta es una notificación regular</span>
                        </div>
                        <div class="alert alert-primary">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Primary Color - </b> Esta es una notificación regular</span>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h5>Notificaciones Toast!
                                <p class="category">Click para ver las notificaciones</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Arriba a la izquierda</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Arriba centrada</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Arriba a la derecha</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Abajo a la izquierda</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Abajo centrada</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Abajo a la derecha</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
